/********************************
            Font style 
********************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:wght@300;400&display=swap');
a, p, h1, h2, h3, h4, h5 { font-family: 'Lato', sans-serif; letter-spacing: .2rem; }
a { text-decoration: none; color: #fff; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
p { margin-bottom: 0; font-size: 13px; }
h4{ font-style: italic; }
.font_thin { font-weight: 100; }
.font_black { font-weight: 900; }
h4 span { font-weight: 100; }
a span { font-size: 12px; }


/********************************
            Global
********************************/
body { background: #070707; }
.title { display: flex; }
.title_component { height: 100%; }
.title_content { position: sticky; overflow: visible; top: 70px; }


/********************************
            Navbar
********************************/
.navbar { position: fixed; z-index: 99999; width: 100%; }
nav { background: #00000000; font-size: 12px; color: #fff; }
a.navbar-brand { width: 40px; height: 40px; margin: 0; }
a.navbar-brand img { width: 85%; }
.nav-link { color: #ffffff; }
.nav-link:hover { color: #c2c2c2; }
.navbar-collapse { justify-content: end; }
.navbar-toggler-icon { background-image: url(../images/menu.svg); background-repeat: no-repeat; width: 20px; height: 20px; }


/********************************
            Home
********************************/
.home { background: url(../images/background.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: top center; background-size: cover; position: relative; height: 100vh; display: flex; justify-content: center; align-items: center; }
.home img { width: 20%; }


/********************************
            Services
********************************/
.services { padding-top: 80px; padding-bottom: 60px; color: #fff; }
.services_contents { padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #222; }
.services_link { display: flex; align-items: center; justify-content: center; }
.services_link a:hover { color: #c2c2c2; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }


/********************************
            Break 1
********************************/
.break_1 { background: url(../images/background2.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: top center; background-size: cover; position: relative; height: 40vh; display: flex; justify-content: center; align-items: center; color: #fff;}


/********************************
            Portfolio
********************************/
.portfolio { padding-top: 80px; padding-bottom: 80px; color: #fff;}


/********************************
            Clients
********************************/
.clients { padding-bottom: 80px; }
.clients_logo { display: flex; justify-content: center; align-items: center; }
.clients_logo_img { width: 65%; }
@media (min-width: 992px) { .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 { width: 14.285714285714285714285714285714%; *width: 14.285714285714285714285714285714%; } }


/********************************
            Break 2
********************************/
.break_2 { background: url(../images/background3.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: top center; background-size: cover; position: relative; height: 40vh; display: flex; justify-content: center; align-items: center; color: #fff;}






.codes {
    padding-top: 80px;
    padding-bottom: 80px;
}

.codes_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.codes_icon_img {
    width: 45%;
}


footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #000;
}

.footer_sns_links {
    text-align: center;
}